#sliding {
    height: 301.06px;
    width: 1024px;
    /* border: solid 1px red; */
    margin: 50px auto;
    /* margin-bottom:80px; */
  }
  .aaa {
    height: 290px;
    width: 1024px;
  }
  /* * {
    box-sizing: border-box;
    border: 1px solid red;
  } */
  
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
  
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    margin-top: -20px;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #10847e;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  #b-box {
    height: 80px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  #box-1 {
    height: 80px;
    width: 240px;
    /* border: 1px solid red; */
    border: 1px solid #4f585e;
    /* padding: 0px 30px; */
  
    border-radius: 40px;
    display: flex;
  }
  #box-1:hover {
    border: 1px solid #10847e;
  }
  #box-1 > img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding: 25px;
    /* border: 1px solid red; */
  }
  .p1 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #4f585e;
    margin-top: 15px;
    padding-top: 15px;
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: #4f585e;
  }
  a:hover {
    color: #10847e;
  }
  
  #box-2 {
    height: 80px;
    width: 240px;
    border: 1px solid #4f585e;
    /* padding: 0px 30px; */
    margin-left: 21.33px;
    border-radius: 40px;
    display: flex;
  }
  #box-2:hover {
    border: 1px solid #10847e;
  }
  #box-2 > img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding: 25px;
  }
  .p2 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #4f585e;
    margin-top: 15px;
    padding-top: 5px;
  }
  #box-3 {
    height: 80px;
    width: 240px;
    border: 1px solid #4f585e;
    /* padding: 0px 30px; */
    margin-left: 21.33px;
    border-radius: 40px;
    display: flex;
  }
  #box-3:hover {
    border: 1px solid #10847e;
  }
  #box-3 > img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding: 25px;
  }
  #box-4 {
    height: 80px;
    width: 240px;
    border: 1px solid #4f585e;
    /* padding: 0px 30px; */
    margin-left: 21.33px;
    border-radius: 40px;
    display: flex;
  }
  #box-4:hover {
    border: 1px solid #10847e;
  }
  #box-4 > img {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    padding: 25px;
  }
  /* #p1 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #4f585e;
    margin-top: 15px;
    padding-top: 15px;
  } */
  #b-box-1 {
    height: 135.5px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 10px;
    /* margin-top: 35px; */
  }
  #b-box-1 > img {
    height: 135.5px;
    width: 1024px;
  }
  
  #b-box-2 {
    height: 64.83px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 15px;
    /* padding: 10px; */
    border-radius: 5px;
  
    /* display: flex; */
    /* margin: 15px 0;
    padding: 10px; */
    border-radius: 5px;
    background: #8573e1;
    display: flex;
    margin-top: 25px;
  }
  #b-box-2-1 {
    height: 44.83px;
    width: 60px;
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-left: 10px;
  }
  #b-box-2-1 > img {
    height: 30.83px;
    width: 30px;
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-left: 10px;
  }
  #diva {
    height: 20px;
    width: 576.98;
    /* border: 1px solid red; */
    margin-top: 25px;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
    font-family: Open Sans, sans-serif;
  }
  
  #b-box-3 {
    height: 221px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #b-box-3-1 {
    height: 20px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    color: #4f585e;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  #kamal > a {
    color: #10847e;
  }
  #kamal > a:hover {
    color: #4f585e;
  }
  /* #aa {
    display: flex;
  } */
  /* #gg {
    margin-right: 10px;
  } */
  #b-box-3-2 {
    display: flex;
    height: 171px;
    width: 1024px;
    /* border: 1px solid red; */
    margin-top: 25px;
  }
  #b-box-3-2-1 {
    height: 171px;
    width: 264px;
    /* border: 1px solid red; */
    border: 1px solid silver;
    /* padding: 20px; */
    border-radius: 6px;
  
    /* margin: auto; */
  }
  /* #aa {
    display: flex;
  }
  #gg {
    margin-right: 10px;
  } */
  #b-box-3-2-1:hover {
    border: 1px solid #10847e;
  }
  #b-box-3-2-1-1 {
    height: 124px;
    width: 222px;
    /* border: 1px solid red; */
    margin: 20px;
  }
  
  #b-box-3-2-1-1-1 {
    height: 55px;
    width: 80px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
    border: 1px solid silver;
    margin-bottom: 10px;
    border-radius: 6px;
  }
  #b-box-3-2-1-1-1 > img {
    height: 24.33px;
    width: 70px;
    margin-top: 15px;
    margin-left: 5px;
  }
  #b-box-3-2-1-1-2 {
    height: 64px;
    width: 188.64px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
  }
  #b-box-3-2-1-1-2-1 {
    height: 24px;
    width: 188.64px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
    color: #3d464d;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
  }
  #b-box-3-2-1-1-2-2 {
    height: 15.95px;
    width: 188.64px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
    /* border: 1px solid silver; */
    /* margin: 24.05px 0px 0px; */
    margin: 20px 0px 0px;
    font-size: 12px;
    line-height: 1.33;
    color: #8879a2;
  }
  
  #b-box-3-2-2-1 {
    height: 124px;
    width: 222px;
  
    /* border: 1px solid red; */
    margin: 20px;
  }
  
  #b-box-3-2-2-1-1 {
    height: 55px;
    width: 80px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
    border: 1px solid silver;
    margin-bottom: 10px;
    border-radius: 6px;
  }
  #b-box-3-2-2-1-1 > img {
    height: 50px;
    width: 60px;
    margin-left: 10px;
  }
  #b-box-3-2-2-1-2 {
    height: 64px;
    width: 188.64px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
  }
  #b-box-3-2-2-1-2-1 {
    height: 24px;
    width: 188.64px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
    color: #3d464d;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
  }
  #b-box-3-2-2-1-2-2 {
    height: 15.95px;
    width: 188.64px;
    /* margin: 0px 0px 10px; */
    /* border: 1px solid red; */
    /* margin: 24.05px 0px 0px; */
    margin: 20px 0px 0px;
    font-size: 12px;
    line-height: 1.33;
    color: #8879a2;
  }
  
  #b-box-3-2-2 {
    height: 171px;
    width: 264px;
    /* border: 1px solid red; */
    border: 1px solid silver;
    /* padding: 20px; */
    border-radius: 6px;
    margin-left: 10px;
    /* margin: auto; */
  }
  #b-box-3-2-2:hover {
    border: 1px solid #10847e;
  }
  #b-box-4 {
    height: 240.4px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  #b-box-4-1 {
    height: 20px;
    width: 1024px;
    /* border: 1px solid red; */
    margin: auto;
    color: #4f585e;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  #jamal > a {
    color: #10847e;
  }
  #jamal > a:hover {
    color: #4f585e;
  }
  #b-box-4-2 {
    display: flex;
    height: 200.4px;
    width: 1024px;
    /* border: 1px solid red; */
    margin-top: 25px;
  }
  #b-box-4-2-1 {
    height: 194px;
    width: 264px;
    /* border: 1px solid red; */
    border: 1px solid silver;
    border-radius: 6px;
  }
  #b-box-4-2-1:hover {
    border: 1px solid #10847e;
  }
  #b-box-4-2-1 > img {
    height: 30px;
    width: 30px;
    /* margin: 0px 0px 10px; */
    padding: 20px;
  }
  .rama {
    color: #4f585e;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 500;
    margin-left: 20px;
  }
  .jama {
    color: #4f585e;
    font-size: 12px;
    font-family: Open Sans, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
  }
  .sama {
    color: rgb(145, 132, 132);
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
  }
  .saja {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
  }
  .kaja {
    color: #4f585e;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
  }
  .raja {
    color: rgb(145, 132, 132);
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    margin-left: 10px;
  }
  #b-box-4-2-2 {
    height: 194px;
    width: 264px;
    /* border: 1px solid red; */
    border: 1px solid silver;
    margin-left: 10px;
    border-radius: 6px;
  }
  #b-box-4-2-2:hover {
    border: 1px solid #10847e;
  }
  #b-box-4-2-2 > img {
    height: 30px;
    width: 30px;
    /* margin: 0px 0px 10px; */
    padding: 20px;
  }
  #b-box-4-2-3 {
    height: 194px;
    width: 264px;
    /* border: 1px solid red; */
    border: 1px solid silver;
    margin-left: 10px;
    border-radius: 6px;
  }
  #b-box-4-2-3:hover {
    border: 1px solid #10847e;
  }
  #b-box-4-2-3 > img {
    height: 30px;
    width: 30px;
    /* margin: 0px 0px 10px; */
    padding: 20px;
  }
  #b-box-4-2-4 {
    height: 194px;
    width: 264px;
    /* border: 1px solid red; */
    border: 1px solid silver;
    margin-left: 10px;
    border-radius: 6px;
  }
  #b-box-4-2-4:hover {
    border: 1px solid #10847e;
  }
  #b-box-4-2-4 > img {
    height: 30px;
    width: 30px;
    /* margin: 0px 0px 10px; */
    padding: 20px;
  }