*{
    margin: 0;
    padding: 0;
}

#search{
    font-family: Raleway, sans-serif;
    text-align: center;
}
#search>h2{
    opacity: 0.68;
    margin-top: 30px;
    margin-bottom: 20px;
}
#searchdiv {
    width: 60%;
    margin: auto;
    border-radius: 30px;
    /* border: 2px solid gray; */
    height: 50px;
    background-color: #f9fdff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#searchdiv>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.5px solid rgb(194, 193, 193);
    height: 100%;

}

#searchdiv>div ::placeholder {
    padding-left: 10px;
    font-size: 16px;
}


#searchdiv>div>input {
    border: 0px solid gray;
    height: 80%;
    width: 80%;
    outline: none;
    border: none;
}



#searchdiv>div>button {
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #10847e;
    height: 80%;
    width: 10%;
    margin-left: 45px;
}

.wrapper .search-input{
  transform-origin: 100%;
   width: 100%;
   border-radius: 5px;
   position: relative;
   
}
.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    /* position: absolute;
    top: 40px;
    left: 30px; */
    /* overflow-y: auto; */
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    /* border: 1px solid black; */
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
    background:   #f6f8f9;
  }
  .autocom-box li:hover{
    cursor: pointer;
  }

  .search-input .icon{
    position: absolute;
    right: -40px;
    top: 0px;
    height: 45px;
    width: 35px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    
  }