div{
    /*border: 1px solid black;*/
}

#UpMid{
    display: flex;
}

#left{
    width: 60%;
}
          #left h1{
            margin-left: 230px;
          }
          #green{
             background-color: #10847e;
             height: 170px;
             width: 65%;
             margin-left: 230px;
             border-radius: 7px;
          }
                     #three{
                        display: flex;
                        column-gap: 70px;
                        margin-top: 30px;
                        margin-left: 13px;
                        color: white;
                        padding-top: 20px;
                     }
                    
                    #green h1{
                        font-size: 19px;
                        margin-left: 13px;
                        color: white;
                        margin-top: 30px;
                     }
                     #search{
                        background-color: white;
                        height: 40px;
                        width: 550px;
                        margin-left: 13px;
                        border-radius: 5px;
                     }           

#right{
    width: 40%;
    color: #8897a2;
    margin-top: 20px;
}
#right img{
    margin-left: 200px;
    margin-top: -5px;
}