#Product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 81%;
    gap: 31px;
    margin: auto;
    margin-top: 20px;
 
  }
  #Product > div {
    padding: 8px;
    height: 400px;
    text-align: center;
    box-shadow: 0 0 0.5em rgb(76, 74, 75);
    transition: transform 1s;

  }
  #product >div:hover{
   
    border-radius: 1px solid red;
  }
  #btn>button{
    background-color:skyblue;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: large;
  }
  #btn>button:hover{
    background-color: pink;
   
  }
  #Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 30px;
    margin: auto;
  }
  #Grid > div {
    padding: 8px;
    text-align: center;
  }