/*--fw20_0095--*/

/*--- section one  --*/


body{
    background-color: white;
   margin: 10px;
    justify-content: center;
}

#section{
    margin: 20px 0px 20px 0px;
}

.smalldiv{
    height: 120px;
    width: auto;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2,1fr);
    border: 1px solid red;
    padding: 10px;

}

/*--- search bar div start --*/
.searchone{
    margin: auto;
    width:60%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.searchone> #upload a{
    color:#10837d;
    height:auto;
}

#order_sp{
    color: gray;
}

/*--- search bar div end --*/


/*--- 8small div start --*/
.div2{
    height: 200px;
    width:auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid yellow;
    padding: 10px;
   
}

.div2>div{
height:90%;
width: 150px;
justify-content:center;
align-items: center;
text-align: center;
border-radius: 20px;
border: 1px solid gray;
gap: 10px;

}
.div2>div>title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
  }

  .div2>div>img{
    height: 100px;
    width: auto;
    border-radius: 10px;
}
/*--- 8small div end --*/

/*mid_div*/
.middiv{
    height: 200px;
    width:auto;
    display: flex;
    gap:5px;
    border:1px solid green;
 margin-bottom: 10px;
 padding: 10px;
}
.middiv>div{
    height:auto;
    width:600px;
justify-content: center;
align-items: center;
border-radius: 20px;
text-align: center;
border: 1px solid brown;
gap: 5px;
}
.middiv>div>img{
    height: 100px;
    width: auto;
    border-radius: 10px;
}
.middiv>div>title{
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
}
/*mid_div*/



/* offer for you */
#div3{
    display: grid;
    justify-content: left;
    align-items: center;
    grid-template-rows: repeat(2,1fr);
    height: 200px;
    width: auto;
    border: 1px solid black;
    padding: 10px;
}
#div3> div{
    display: flex;
    width: auto;
    height:80%;
    border: 1px solid pink;
   
    gap: 10px;
}

#div3> div> div{
    width: 300px;
    height:100%;
    justify-content:center;
    align-items: center;
    text-align: center;
    border: 1px solid orchid;
    border-radius: 20px;
   
}
#div3>div>title{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
  }

  #div3>div>img{
    height: 100px;
    width: auto;
    border-radius: 10px;
}
/*--- div start --*/

/*-- div end --*/


/* large*/
.large{
display:grid;
justify-content: center;
align-items: center;
grid-template-rows: repeat(2,1fr);
height: 300px;
width:auto;
border: 1px solid peru;
margin: 10px 0px 10px 0px;
}
.large>div{/*div appending from append.js*/
    display:flex;
    width:96%;
    justify-content:center;
    align-items: center;
    border: 1px solid orchid;
}
.large>div>div{
   
    display: grid;
    justify-content:center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid blue;

   margin: auto;
}
.large>div>div>img{
    height: 100px;
    width: auto;
    border-radius: 10px;
    border: 1px solid gray;
    justify-content:baseline;
   align-items: center;
padding: 5px 50px 2px 50px; 
margin-left: 40px;
}
/* large end */




