    #navbar {
        border: 0px solid red;
        height: 60px;
        display: flex;
        /* margin-top: 5px; */
        overflow: hidden;
        background-color:#10847e;
        z-index: 9;
        /* position: fixed; */
        /* top: 0;
        right: 0;
        left: 0;
        z-index: 9;
         */
    }
    #navbar.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /* background-color: white; */
        animation-name: example;
        animation-duration: 1s;
      }

      @keyframes example {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    

    #navbar>div {
        border: 0px solid green;
        height: 50px;
        width: 250px;
        margin: auto;

    }

    #logo>img {
        width: 75%;
        padding-left: 30px;
    }

    #logo:hover {
        cursor: pointer;
    }

    #location {
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }

    #location1>span,
    p {
        margin-left: 20px;
    }

    #drop-down {
        width: 15px;
    }

    #voltage {
        width: 18px;
    }

    #location1>span {
        color: rgb(212, 208, 208);
    }

    #location1>p {
        font-size: 17px;
        margin-left: 30px;
        font-weight: 600;
        cursor: pointer;
        margin-top: -5px;
        color: #fff;
    }

    #location1>img {
        width: 20px;
        height: 20px;

    }

    /* popup for pin-code  start ...... */
    .popup {
        position: fixed;
        top: 50px;
        right: 10px;
        opacity: 0;
        transform: scale(1.25);
        background-color: #10847e;
        width: 250px;
        border-radius: 10px;
        transition: top 0ms ease-in-out 200ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
    }

    .popup.active {
        top: 150px;
        opacity: 1;
        transform: scale(1);
        transition: top 0ms ease-in-out 0ms,
            opacity 200ms ease-in-out 0ms,
            transform 200ms ease-in-out 0ms;
    }

    #close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        background-color: #fff;
        color: #000;
        text-align: center;
        line-height: 15px;
        border-radius: 15px;
        cursor: pointer;

    }

    #close-btn:hover {
        background-color: red;
        color: white;
    }

    .popup .input {
        display: flex;
        flex-direction: column;
    }

    .popup .input h2 {
        margin-left: 10px;
        color: #fff;
    }

    .popup .input input {
        width: 200px;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: none;
        padding: 10px 5px;
        outline: none;
    }

    .popup .input button {
        width: 100px;
        margin-left: 10px;
        margin-top: 10px;
        border: none;
        margin-bottom: 20px;
        background-color: #fff;
        color: #10847e;
        font-weight: 600;
    }

    /* popup for pin-code  end ...... */











    #location:hover {
        cursor: pointer;

    }



    #app {
        display: flex;
        justify-content: center;
        padding: 10px;
        justify-content: flex-end;

    }

    #app button {
        margin-top: -3px;
        border-radius: 5px;
        height: 35px;
        background-color: rgb(225, 237, 242);
        border: none;
        padding: 0 5px;
    }

    #app button>img {
        height: 15px;
        width: 15px;

    }

    #img {
        width: 350px !important;
        /* border: 2px solid red !important; */
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    #img img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
    #img span{
        color: #fff;
    }

    #img :hover {
        cursor: pointer;
    }

    #ser {
        display: flex;
    }

    #navpart2 {
        display: flex;
        text-align: center;
        border: 0px solid pink;
        justify-content: center;
        height: 40px;
        gap: 50px;
        background-color: #eef4ff;
        padding: 10px;
        /* margin-top: 60px; */
    }

    #navpart2>div {
        border: 0px solid;
        height: 20px;
        font: 12px;
        font-family: sans-serif;
        width: auto;
    }

    #navpart2>div:hover {
        cursor: pointer;
        color: #10847e;
    }

    #navpart3 {
        display: flex;
        border: 0px solid;
        height: 40px;
        justify-content: space-around;
        background-color: #0b0b0c;
        ;
        padding: 10px;
    }

    #navpart3>div {
        border: 0px solid olivedrab;
        color: white;
        height: 20px;
        font: 12px;
        font-family: sans-serif;

    }

    #navpart3>div:hover {
        cursor: pointer;
        color: #10847e;

    }

    #line h6 {
        font-size: xx-large;

    }

    @media all and (min-width: 480px)and (max-width:761px) {
        #navpart3 {
            width: 0px;
            height: 0px;
            display: none;
        }

        #navpart2 {
            height: 60px;

        }

        #navpart2>div {
            width: 30px;
            height: 120px;

        }

        #navbar {
            width: auto;
            display: grid;
            grid-template-columns: repeat(3, 200px);

            margin-bottom: 50px;

        }

        #navbar :nth-child(6) {

            margin-left: -400px;
        }

        * {
            font-size: 12px;
        }

        #app>button {
            opacity: 0;

        }

    }

    @media all and (min-width: 323px)and (max-width:480px) {
        #navpart3 {
            width: 0px;
            height: 0px;
            display: none;
        }

        #navpart2 {
            width: auto;
            height: 120px;
            display: grid;
            grid-template-columns: repeat(3, 200px);
            text-align: center;
            background-color: rgb(214, 227, 232);
        }

        #navpart2>div {
            padding-left: 40px;
            width: 100px;
            height: 10px;
            display: grid;
            grid-template-columns: repeat(3, 200px);

            margin: auto;
            font-size: large;
        }

        #navbar {
            width: auto;
            display: grid;
            grid-template-columns: repeat(3, 200px);

            margin-bottom: 50px;

        }

        #navbar :nth-child(6) {

            margin-left: -400px;
        }

        * {
            font-size: 12px;
        }

        #app>button {
            opacity: 0;

        }

    }